{% extends "layout.html" %}

{% block title %}
    Directory
{% endblock %}

{% block main %}
<h1>How to avoid contact with ghosts</h1>
<br>

<h3>there are some place in a house you should try to avoid</h3>

<ul>
    <li>mirros (especially at night!)</li>
    <li>dark cramped bathrooms (especially when you hear water dripping!)</li>
    <li>attics and basements (especially when there are stories about how they are haunted!)</li>
    <li>under the bed (especially when you hear breathing from underneath!)</li>
</ul>

<h3>Here's Legends of America's guide on how to get rid of a ghost</h3>
<center><iframe src="https://www.legendsofamerica.com/gh-ridghost/" height="500px" width="80%" title="bloodymary" style="border:5px solid black;"></iframe></center>


{% endblock %}
