{% extends "layout.html" %}

{% block title %}
    Directory
{% endblock %}

{% block main %}
<h1>How to avoid contact with ghosts</h1>
<br>

<h3>there are some place in a house you should try to avoid</h3>

<p>mirrors (especially at night!)</p>
<p>dark cramped bathrooms (especially when you hear water dripping!)</p>
<p>attics and basements (especially when there are stories about how they are haunted!)</p>
<p>under the bed (especially when you hear breathing from underneath!)</p>

<br>

<h5> but this probably looks too familiar if you just read how to get in contact with ghosts, so here are some other ideas!</h5>
<p>salt and glutinous rice (they are tasty and powerful)</p>
<p>people (because how can one ghost fight a crowd of humans!)</p>
<p>wait until sunrise (hang on just a little bit longer!)</p>
<p>pretend you are one of them (they are not as smart as you think...?)</p>



<p><h3>If you're really in trouble, here's Legends of America's guide on how to get rid of a ghost</h3></p>
<center><iframe src="https://www.legendsofamerica.com/gh-ridghost/" height="500px" width="80%" title="bloodymary" style="border:5px solid black;"></iframe></center>


{% endblock %}
