{% extends "layout.html" %}

{% block title %}
    How to get in contact with ghosts
{% endblock %}

{% block main %}
<h1>How to get in contact with ghosts</h1>
<br>

<h3>there are some place in a house you should try to go to</h3>

<p>1. mirrors (especially at night!)</p>
<p>2. dark cramped bathrooms (especially when you hear water dripping!)</p>
<p>3. attics and basements (especially when there are stories about how they are haunted!)</p>
<p>4. under the bed (especially when you hear breathing from underneath!)</p>

<h5> but this probably looks too familiar if you just read how to avoid contact with ghosts, so here are some other ideas!</h5>

<p><a href="https://www.liveabout.com/how-to-use-printable-ouija-board-2593142">Ouiji Boards</a></p>
<p><a href="https://theghostinmymachine.com/2021/04/28/the-most-dangerous-games-the-spirit-of-the-pen/">BiXian (Spirit of the Pen)</a></p>
<p><a href="https://www.ghostsandgravestones.com/how-to-ghost-hunt">Ghost hunting in your house</a></p>
<p><a href="https://daily.jstor.org/how-to-summon-spirits/">Very authentic guide on spirit circles</a></p>

<br>

<p><h3>Hear from a wise one to see if you may also become a psychic!</h3></p>
<center><iframe src="https://www.allure.com/story/am-i-psychic-how-to-tap-into-psychic-abilities" height="500px" width="80%" title="bloodymary" style="border:5px solid black;"></iframe></center>


{% endblock %}
