{% extends "layout.html" %}

{% block title %}
    Directory
{% endblock %}

{% block main %}
<h1>Directory</h1>

<h3>*\ begin your exploration with this list here /*</h3>
<br>
<p><a href="bloodymary.html">1. Bloody Mary</a></p>
<p><a href="yamamurasadako.html">2. Yamamura Sadako</a></p>
<p><a href="tokoloshe.html">3. Tokoloshe</a></p>
<p><a href="waverlyhills.html">4. Waverly Hills Sanatorium</a></p>

<h3>for the curious...</h3>
<center><iframe src="https://en.wikipedia.org/wiki/List_of_urban_legends" height="500px" width="80%" title="bloodymary" style="border:5px solid black;"></iframe></center>


{% endblock %}
