{% extends "layout.html" %}

{% block title %}
    Directory
{% endblock %}

{% block main %}
<h1>Directory</h1>
<h3>*\ begin your exploration with this list here /*</h3>
<br>
<ol>
    <li><a href="bloodymary.html">Bloody Mary</a></li>
    <li><a href="yamamurasadako.html">Yamamura Sadako</a></li>
    <li><a href="tokoloshe.html">Tokoloshe</a></li>
    <li><a href="waverlyhills.html">Waverly Hills Sanatorium</a></li>
</ol>

<h3>for the curious...</h3>
<center><iframe src="https://en.wikipedia.org/wiki/List_of_urban_legends" height="500px" width="80%" title="bloodymary" style="border:5px solid black;"></iframe></center>


{% endblock %}
